<nav class="navbar">
  <div class="nav-left">
    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a *ngIf="isLoggedIn" class="nav-link" routerLink="/borrow-books">Borrow Books</a>
    <a *ngIf="isLoggedIn" class="nav-link" routerLink="/follow-courses">Follow Courses</a>
  </div>
  <div class="nav-right">
    <span *ngIf="isLoggedIn" class="user-info">
      Welcome, {{ userName }} ({{ userRole }})
    </span>
    <a *ngIf="isLoggedIn && userRole === 'TRAINER'" class="nav-link" routerLink="/users">Manage Users</a>
    <a *ngIf="isLoggedIn" class="nav-link" (click)="logout()">Logout</a>
    <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login">Login</a>
  </div>
</nav>