<div class="login-form">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
      <div *ngIf="submitted && email?.invalid" class="validation-error">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
      />
      <div *ngIf="submitted && password?.invalid" class="validation-error">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
      </div>
    </div>

    <button type="submit">Login</button>
    <div class="register-link">
      Don't have an account? Please ask your Trainer.
    </div>
  </form>
</div>
